@value makerGreen,makerWhite,makerBlack from '../../common/color.css';

.header {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  background-color: makerGreen;
  position: relative;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: makerWhite;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.8em;
  border-radius: 20%;
  background-color: makerBlack;
  color: makerWhite;
  cursor: pointer;
  border: 0;
  outline: 0;
}
